@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
    --theme__font: 'Rubik', sans-serif;
    --font__size: 18px;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0deg 0% 96.86%);
    --soft__blue: hsl(231, 69%, 60%);
    --soft__red: hsl(0, 94%, 66%);
    --grayish__blue: hsl(229, 8%, 60%);
    --very__dark__blue: hsl(229, 31%, 21%);
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin font-style {
    font-family: var(--theme__font);
    font-size: var(--font__size);
}

html {
    height: 100%;
}

/*body {
    min-height: 100vh;
}*/

html, body {
    @include font-style();
    margin: 0;
    padding: 0;
}

br.small {
    display: none;
}

br.large {
    display: block;
}

#bookmark__page {
    header {
        nav {
            @include flex-center();
            #navbarNav {
                justify-content: flex-end;
                ul {
                    gap: 30px;
                    li {
                        a {
                            font-size: 12px;
                            color: var(--black);
                            text-transform: uppercase;
                            font-weight: bold;
                            letter-spacing: 2px;
                            &:hover {
                                color: var(--soft__red);
                            }
                        }
                        &.user__login__button {
                            background-color: var(--soft__red);
                            border: solid 2px transparent;
                            border-radius: 5px;
                            a {
                                color: var(--white);
                                padding-left: 20px;
                                padding-right: 20px;
                                &:hover {
                                    color: var(--soft__red);
                                }
                            }
                            &:hover {
                                background-color: var(--white);
                                border: solid 2px var(--soft__red);
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        #main__hero {
            margin-top: 70px;
            margin-bottom: 50px;
            .hero__swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .slide__content {
                            @include flex-center();
                            gap: 60px;
                            .sc {
                                flex-basis: 50%;
                                &.text {
                                    display: flex;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    gap: 25px;
                                    span {
                                        color: var(--black);
                                        font-size: 60px;
                                        font-weight: 500;
                                        line-height: normal;
                                    }
                                    p {
                                        color: var(--grayish__blue);
                                        font-size: 28px;
                                    }
                                    .button__group {
                                        display: flex;
                                        align-items: flex-start;
                                        gap: 25px;
                                        a {
                                            font-size: 20px;
                                            border: solid 2px transparent;
                                            border-radius: 5px;
                                            text-decoration: none;
                                            padding: 15px 25px;
                                            text-align: center;
                                            font-weight: 500;
                                            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                                            &:nth-child(1) {
                                                background-color: var(--soft__blue);
                                                color: var(--white);
                                                &:hover {
                                                    border: solid 2px var(--soft__blue);
                                                    background-color: var(--white);
                                                    color: var(--soft__blue);
                                                }
                                            }
                                            &:nth-child(2) {
                                                background-color: var(--gray);
                                                color: var(--very__dark__blue);
                                                &:hover {
                                                    border: solid 2px var(--very__dark__blue);
                                                    background-color: var(--white);
                                                }
                                            }
                                        }
                                    }
                                }
                                &.image {
                                    img {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }       
            }
        }
        #main__features {
            .headline {
                @include flex-center();
                flex-direction: column;
                justify-content: center;
                gap: 15px;
                margin-bottom: 45px;
                span {
                    color: var(--black);
                    font-size: 35px;
                    font-weight: 500;
                    text-align: center;
                }
                p {
                    color: var(--grayish__blue);
                    font-size: 20px;
                    text-align: center;
                }
            }
            .content {
                .tab-headline {
                    padding-left: 30%;
                    padding-right: 30%;
                    #myTab {
                        @include flex-center();
                        justify-content: space-between;
                        border-bottom: solid 1px var(--grayish__blue);
                        .nav-item {
                            width: 220px;
                            @include flex-center();
                            justify-content: center;
                            .nav-link {
                                border-top: 0;
                                border-left: 0;
                                border-right: 0;
                                border-bottom: solid 3px transparent;
                                cursor: pointer;
                                background: transparent;
                                outline: 0;
                                width: 100%;
                                padding-bottom: 20px;
                                &.active {
                                    border-bottom: solid 3px var(--soft__red);
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
                .tab-content {
                    margin-top: 30px;
                }
            }
        }
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { }

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    br.small {
        display: block;
    }
    
    br.large {
        display: none;
    }
}