@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --theme__font: "Rubik", sans-serif;
  --font__size: 18px;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --gray: hsl(0deg 0% 96.86%);
  --soft__blue: hsl(231, 69%, 60%);
  --soft__red: hsl(0, 94%, 66%);
  --grayish__blue: hsl(229, 8%, 60%);
  --very__dark__blue: hsl(229, 31%, 21%);
}

html {
  height: 100%;
}

/*body {
    min-height: 100vh;
}*/
html, body {
  font-family: var(--theme__font);
  font-size: var(--font__size);
  margin: 0;
  padding: 0;
}

br.small {
  display: none;
}

br.large {
  display: block;
}

#bookmark__page header nav {
  display: flex;
  align-items: center;
}
#bookmark__page header nav #navbarNav {
  justify-content: flex-end;
}
#bookmark__page header nav #navbarNav ul {
  gap: 30px;
}
#bookmark__page header nav #navbarNav ul li a {
  font-size: 12px;
  color: var(--black);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
#bookmark__page header nav #navbarNav ul li a:hover {
  color: var(--soft__red);
}
#bookmark__page header nav #navbarNav ul li.user__login__button {
  background-color: var(--soft__red);
  border: solid 2px transparent;
  border-radius: 5px;
}
#bookmark__page header nav #navbarNav ul li.user__login__button a {
  color: var(--white);
  padding-left: 20px;
  padding-right: 20px;
}
#bookmark__page header nav #navbarNav ul li.user__login__button a:hover {
  color: var(--soft__red);
}
#bookmark__page header nav #navbarNav ul li.user__login__button:hover {
  background-color: var(--white);
  border: solid 2px var(--soft__red);
}
#bookmark__page main #main__hero {
  margin-top: 70px;
  margin-bottom: 150px;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content {
  display: flex;
  align-items: center;
  gap: 60px;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc {
  flex-basis: 50%;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text span {
  color: var(--black);
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text p {
  color: var(--grayish__blue);
  font-size: 28px;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a {
  font-size: 20px;
  border: solid 2px transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a:nth-child(1) {
  background-color: var(--soft__blue);
  color: var(--white);
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a:nth-child(1):hover {
  border: solid 2px var(--soft__blue);
  background-color: var(--white);
  color: var(--soft__blue);
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a:nth-child(2) {
  background-color: var(--gray);
  color: var(--very__dark__blue);
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a:nth-child(2):hover {
  border: solid 2px var(--very__dark__blue);
  background-color: var(--white);
}
#bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.image img {
  width: 100%;
}
#bookmark__page main #main__features {
  margin-bottom: 150px;
}
#bookmark__page main #main__features .headline {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 45px;
}
#bookmark__page main #main__features .headline span {
  color: var(--black);
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
#bookmark__page main #main__features .headline p {
  color: var(--grayish__blue);
  font-size: 20px;
  text-align: center;
}
#bookmark__page main #main__features .content .tab-headline #myTab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--grayish__blue);
}
#bookmark__page main #main__features .content .tab-headline #myTab .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
#bookmark__page main #main__features .content .tab-headline #myTab .nav-item .nav-link {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid 3px transparent;
  cursor: pointer;
  background: transparent;
  outline: 0;
  width: 100%;
  padding-bottom: 20px;
  font-weight: 500;
  color: var(--grayish__blue);
}
#bookmark__page main #main__features .content .tab-headline #myTab .nav-item .nav-link.active {
  border-bottom: solid 3px var(--soft__red);
  color: var(--black);
}
#bookmark__page main #main__features .content .tab-headline #myTab .nav-item .nav-link:hover {
  border-bottom: solid 3px var(--soft__red);
  color: var(--black);
}
#bookmark__page main #main__features .content .tab-content {
  margin-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content {
  display: flex;
  align-items: center;
  gap: 80px;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content .image {
  flex-basis: 50%;
  text-align: center;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content .image img {
  width: 100%;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content .text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  flex-basis: 50%;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content .text span {
  color: var(--black);
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content .text p {
  color: var(--grayish__blue);
  font-size: 20px;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content .text a {
  font-size: 16px;
  border: solid 2px transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  font-weight: 500;
  background-color: var(--soft__blue);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#bookmark__page main #main__features .content .tab-content .tab-pane .content .text a:hover {
  border: solid 2px var(--soft__blue);
  background-color: var(--white);
  color: var(--soft__blue);
}
#bookmark__page main #main__extension {
  margin-bottom: 150px;
}
#bookmark__page main #main__extension .headline {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 45px;
}
#bookmark__page main #main__extension .headline span {
  color: var(--black);
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
#bookmark__page main #main__extension .headline p {
  color: var(--grayish__blue);
  font-size: 20px;
  text-align: center;
}
#bookmark__page main #main__extension .content {
  margin-top: 60px;
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item {
  padding: 25px;
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 0px 0px 8px 8px;
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child img {
  padding-top: 30px;
  padding-bottom: 30px;
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child span {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child p {
  color: var(--grayish__blue);
  text-align: center;
  padding-top: 8px;
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child .dot:before {
  content: url("/assets/img/bg-dots.svg");
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child a {
  font-size: 16px;
  border: solid 2px transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  font-weight: 500;
  background-color: var(--soft__blue);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  margin-top: 20px;
  margin-bottom: 30px;
}
#bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child a:hover {
  border: solid 2px var(--soft__blue);
  background-color: var(--white);
  color: var(--soft__blue);
}
#bookmark__page main #main__questions {
  margin-bottom: 150px;
}
#bookmark__page main #main__questions .headline {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 45px;
}
#bookmark__page main #main__questions .headline span {
  color: var(--black);
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
#bookmark__page main #main__questions .headline p {
  color: var(--grayish__blue);
  font-size: 20px;
  text-align: center;
}
#bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
#bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button {
  width: 100%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: solid 1px var(--grayish__blue);
  border-left: none;
  border-right: none;
  border-bottom: none;
  color: var(--soft__red);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 10px;
}
#bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button.collapsed {
  color: var(--black);
}
#bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button.collapsed::after {
  content: url("/assets/img/icon-arrow.svg");
  filter: none;
  transform: rotate(0);
}
#bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button::after {
  content: url("/assets/img/icon-arrow.svg");
  filter: invert(76%) sepia(64%) saturate(6678%) hue-rotate(328deg) brightness(101%) contrast(95%);
  transform: rotate(180deg);
  transition-duration: 1s;
}
#bookmark__page main #main__questions .content .accordion .accordion-item .accordion-collapse .accordion-body {
  color: var(--grayish__blue);
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 30px;
}
#bookmark__page main #main__questions .content .accordion .accordion-item:last-child {
  border-bottom: solid 1px var(--grayish__blue);
}
#bookmark__page main #main__questions .link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#bookmark__page main #main__questions .link a {
  font-size: 16px;
  border: solid 2px transparent;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  font-weight: 500;
  background-color: var(--soft__blue);
  color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#bookmark__page main #main__questions .link a:hover {
  border: solid 2px var(--soft__blue);
  background-color: var(--white);
  color: var(--soft__blue);
}
#bookmark__page footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#bookmark__page footer #footer__subscribe {
  width: 100%;
  background-color: var(--soft__blue);
  padding-bottom: 60px;
}
#bookmark__page footer #footer__subscribe .headline {
  color: var(--white);
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
#bookmark__page footer #footer__subscribe .headline span {
  font-weight: 500;
  font-size: 45px;
  line-height: normal;
}
#bookmark__page footer #footer__subscribe .headline p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  padding-bottom: 10px;
}
#bookmark__page footer #footer__subscribe .content .input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
#bookmark__page footer #footer__subscribe .content .input-group input {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}
#bookmark__page footer #footer__subscribe .content .input-group span button {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px var(--soft__red);
  background-color: var(--soft__red);
  color: var(--white);
  font-weight: 500;
}
#bookmark__page footer #footer__subscribe .content .input-group span button:hover {
  background-color: var(--white);
  color: var(--soft__red);
}
#bookmark__page footer #footer__nav {
  width: 100%;
  background-color: var(--very__dark__blue);
}
#bookmark__page footer #footer__nav .navbar .navbar-brand {
  margin-right: 4rem;
}
#bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav {
  gap: 30px;
}
#bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: var(--white);
  font-size: 12px;
}
#bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--soft__red);
}
#bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-text {
  display: flex;
  align-items: center;
  gap: 40px;
}
#bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-text a img:hover {
  filter: invert(50%) sepia(11%) saturate(3236%) hue-rotate(314deg) brightness(99%) contrast(97%);
}

@media (max-width: 992px) {
  br.large {
    display: none;
  }
  #bookmark__page header nav .navbar-toggler {
    border: none;
    outline: none;
  }
  #bookmark__page header nav .navbar-toggler .navbar-toggler-icon {
    background-image: url(/assets/img/icon-hamburger.svg);
    background-size: inherit;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text span {
    font-size: 32px;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text p {
    font-size: 18px;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a {
    font-size: 12px;
    padding: 15px 15px;
  }
  #bookmark__page main #main__features .headline span {
    font-size: 28px;
  }
  #bookmark__page main #main__features .headline p {
    font-size: 16px;
  }
  #bookmark__page main #main__features .content .tab-headline #myTab .nav-item {
    width: 214px;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text span {
    font-size: 22px;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text p {
    font-size: 14px;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text a {
    font-size: 12px;
    padding: 10px 15px;
  }
  #bookmark__page main #main__extension .headline span {
    font-size: 28px;
  }
  #bookmark__page main #main__extension .headline p {
    font-size: 16px;
  }
  #bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item {
    padding: 5px;
  }
  #bookmark__page main #main__questions .headline span {
    font-size: 22px;
  }
  #bookmark__page main #main__questions .headline p {
    font-size: 18px;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 18px;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 14px;
  }
  #bookmark__page main #main__questions .link a {
    font-size: 14px;
    padding: 10px 15px;
  }
  #bookmark__page footer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #bookmark__page footer #footer__subscribe {
    width: 100%;
    background-color: var(--soft__blue);
    padding-bottom: 60px;
  }
  #bookmark__page footer #footer__subscribe .headline {
    color: var(--white);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
  }
  #bookmark__page footer #footer__subscribe .headline span {
    font-weight: 500;
    font-size: 45px;
    line-height: normal;
  }
  #bookmark__page footer #footer__subscribe .headline p {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-bottom: 10px;
  }
  #bookmark__page footer #footer__subscribe .content .input-group {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  #bookmark__page footer #footer__subscribe .content .input-group input {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
  }
  #bookmark__page footer #footer__subscribe .content .input-group span button {
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px var(--soft__red);
    background-color: var(--soft__red);
    color: var(--white);
    font-weight: 500;
  }
  #bookmark__page footer #footer__subscribe .content .input-group span button:hover {
    background-color: var(--white);
    color: var(--soft__red);
  }
  #bookmark__page footer #footer__nav {
    width: 100%;
    background-color: var(--very__dark__blue);
  }
  #bookmark__page footer #footer__nav .navbar .navbar-brand {
    margin-right: 4rem;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav {
    gap: 30px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    color: var(--white);
    font-size: 12px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: var(--soft__red);
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-text {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-text a img:hover {
    filter: invert(50%) sepia(11%) saturate(3236%) hue-rotate(314deg) brightness(99%) contrast(97%);
  }
}
@media (max-width: 768px) {
  br.large {
    display: none;
  }
  #bookmark__page header nav .navbar-toggler {
    border: none;
    outline: none;
  }
  #bookmark__page header nav .navbar-toggler .navbar-toggler-icon {
    background-image: url(/assets/img/icon-hamburger.svg);
    background-size: inherit;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text span {
    font-size: 30px;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text p {
    font-size: 16px;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a {
    font-size: 12px;
    padding: 12px 10px;
  }
  #bookmark__page main #main__features .headline span {
    font-size: 22px;
  }
  #bookmark__page main #main__features .headline p {
    font-size: 14px;
  }
  #bookmark__page main #main__features .content .tab-headline #myTab .nav-item .nav-link {
    font-size: 14px;
    min-width: 174px;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text span {
    font-size: 20px;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text p {
    font-size: 13px;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text a {
    font-size: 12px;
    padding: 7px 14px;
  }
  #bookmark__page main #main__extension .headline span {
    font-size: 22px;
  }
  #bookmark__page main #main__extension .headline p {
    font-size: 14px;
  }
  #bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item {
    padding: 5px;
  }
  #bookmark__page main #main__questions .headline span {
    font-size: 22px;
  }
  #bookmark__page main #main__questions .headline p {
    font-size: 14px;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 16px;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 12px;
  }
  #bookmark__page main #main__questions .link a {
    font-size: 13px;
    padding: 10px 20px;
  }
  #bookmark__page footer #footer__subscribe .headline span {
    font-size: 30px;
  }
  #bookmark__page footer #footer__subscribe .headline p {
    font-size: 15px;
  }
  #bookmark__page footer #footer__nav .navbar {
    flex-direction: column;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-brand {
    margin-right: 0rem;
    padding-bottom: 30px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse {
    display: block;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav {
    gap: 5px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: center;
    font-size: 16px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-text {
    padding-top: 30px;
  }
}
@media (max-width: 576px) {
  br.small {
    display: block;
  }
  br.large {
    display: none;
  }
  #bookmark__page header nav {
    display: flex;
    align-items: center;
    padding-top: 40px;
  }
  #bookmark__page header nav .navbar-toggler {
    border: none;
    outline: none;
  }
  #bookmark__page header nav .navbar-toggler .navbar-toggler-icon {
    background-image: url(/assets/img/icon-hamburger.svg);
    background-size: inherit;
  }
  #bookmark__page header nav #navbarNav {
    justify-content: flex-end;
  }
  #bookmark__page header nav #navbarNav ul {
    gap: 30px;
  }
  #bookmark__page header nav #navbarNav ul li a {
    font-size: 12px;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #bookmark__page header nav #navbarNav ul li a:hover {
    color: var(--soft__red);
  }
  #bookmark__page header nav #navbarNav ul li.user__login__button {
    background-color: var(--soft__red);
    border: solid 2px transparent;
    border-radius: 5px;
  }
  #bookmark__page header nav #navbarNav ul li.user__login__button a {
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
  }
  #bookmark__page header nav #navbarNav ul li.user__login__button a:hover {
    color: var(--soft__red);
  }
  #bookmark__page header nav #navbarNav ul li.user__login__button:hover {
    background-color: var(--white);
    border: solid 2px var(--soft__red);
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content {
    flex-direction: column-reverse;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text span {
    font-size: 32px;
    text-align: center;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text p {
    font-size: 20px;
    text-align: center;
  }
  #bookmark__page main #main__hero .hero__swiper .swiper-wrapper .swiper-slide .slide__content .sc.text .button__group a {
    font-size: 18px;
    padding: 15px 10px;
  }
  #bookmark__page main #main__features .headline span {
    font-size: 25px;
  }
  #bookmark__page main #main__features .headline p {
    font-size: 16px;
  }
  #bookmark__page main #main__features .content .tab-headline #myTab {
    border-top: solid 3px var(--gray);
    border-bottom: none;
  }
  #bookmark__page main #main__features .content .tab-headline #myTab .nav-item {
    width: 100%;
  }
  #bookmark__page main #main__features .content .tab-headline #myTab .nav-item .nav-link {
    border-bottom: solid 3px var(--gray);
    padding-top: 20px;
  }
  #bookmark__page main #main__features .content .tab-headline #myTab .nav-item .nav-link.active {
    border-bottom: solid 3px var(--soft__red);
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content {
    flex-direction: column;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text {
    align-items: center;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text span {
    font-size: 25px;
    text-align: center;
  }
  #bookmark__page main #main__features .content .tab-content .tab-pane .content .text p {
    font-size: 16px;
    text-align: center;
  }
  #bookmark__page main #main__extension .headline span {
    font-size: 25px;
    text-align: center;
  }
  #bookmark__page main #main__extension .headline p {
    font-size: 16px;
    text-align: center;
  }
  #bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item {
    padding: 8px;
  }
  #bookmark__page main #main__questions .headline span {
    font-size: 25px;
    text-align: center;
  }
  #bookmark__page main #main__questions .headline p {
    font-size: 16px;
    text-align: center;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header {
    display: flex;
    align-items: center;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 18px;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 16px;
  }
  #bookmark__page footer #footer__subscribe .headline span {
    font-size: 30px;
  }
  #bookmark__page footer #footer__subscribe .headline p {
    font-size: 14px;
  }
  #bookmark__page footer #footer__subscribe .content .input-group {
    flex-direction: column;
  }
  #bookmark__page footer #footer__subscribe .content .input-group input {
    width: 100%;
  }
  #bookmark__page footer #footer__subscribe .content .input-group span {
    width: 100%;
  }
  #bookmark__page footer #footer__subscribe .content .input-group span button {
    width: 100%;
  }
  #bookmark__page footer #footer__nav {
    padding-top: 30px;
  }
  #bookmark__page footer #footer__nav .navbar {
    flex-direction: column;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-brand {
    margin-right: 0rem;
    padding-bottom: 30px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse {
    display: block;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav {
    gap: 5px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: center;
    font-size: 16px;
  }
  #bookmark__page footer #footer__nav .navbar .navbar-collapse .navbar-text {
    padding-top: 30px;
  }
}
@media (max-width: 375px) {
  #bookmark__page main #main__extension .headline span {
    font-size: 25px;
    text-align: center;
  }
  #bookmark__page main #main__extension .headline p {
    font-size: 16px;
    text-align: center;
  }
  #bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item {
    padding: 0px;
  }
  #bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child .dot {
    display: none;
  }
  #bookmark__page main #main__extension .content .extension__swiper .swiper-wrapper .swiper-slide .slide-item .slide-child a {
    font-size: 12px;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 15px;
  }
  #bookmark__page main #main__questions .content .accordion .accordion-item .accordion-collapse .accordion-body {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */